@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  color: #e4eef1;
}
header {
  height: 16vh;
  background-color: #ff66b2;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .logo {
    width: 24vw;
    display: flex;
    align-items: center;
    h1 {
      font-size: 1.7vw;
    }
    img {
      width: 8vw;
    }
  }

  nav {
    width: 45vw;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5vw;
    }
  }
}
main {
  .sobre {
    height: 60vh;
    background-color: #ffd9ec;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    p {
      width: 38vw;
      font-size: 1.5vw;
      color: black;
    }
    img {
      width: 25vw;
    }
  }

  .conscientizacao {
    height: 45vh;
    background-color: #ff66b2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    p {
      width: 35vw;
      font-size: 1.5vw;
    }
    img {
      width: 28vw;
    }
  }
  .dicas {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffd9ec;
    img {
      width: 19vw;
    }
  }
}

footer {
  .socialMedia {
    height: 17vh;
    background-color: #ff66b2;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 4vw;
    }

    div {
      width: 70vw;
      padding-right: 10%;
      ul {
        text-align: center;
        font-size: 1.2vw;
      }
    }
  }
}
